@font-face{
  font-family: flatface;
  src: url(../assets/fonts/AbrilFatface-Regular.ttf)
}

@font-face{
  font-family: DMSerif-req;
  src: url(../assets/fonts/DMSerifText-Regular.ttf)
}

@font-face{
  font-family: DMSerif-ita;
  src: url(../assets/fonts/DMSerifText-Italic.ttf)
}

body {
  background-color: #1e1e1e;
}

body:after{
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url(../assets/images/whatsapp.png) url(../assets/images/linkedin.png);
}

h2 {
  font-size:24px;
  line-height: 30px;
  color: #fff;
  font-family: flatface;
  text-transform: capitalize;
}

p{
  font-size:14px;
  line-height: 18px;
  color: #fff;
  font-family: DMSerif-req;
}

a {
  font-size:14px;
  line-height: 18px;
  color: #fff;
  font-family: DMSerif-req;
  cursor: pointer;
}

.header-main {
  position: fixed;
  top:0;
  z-index: 1000;
  width: 100%;
  height: 60px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.header-main-logo{
  width: fit-content;
  height: 100%;
  display: flex;
  padding-left: 40px;
}

.header-main-logo img {
  height: 40px;
  align-self: center;
}


.header-main-nav {
  width: fit-content;
  height: 100%;
}
.header-main-nav ul {
  margin-left: 50px;
}

.header-main-nav ul li{
  display: inline;
  float:left;
}

.header-main-nav ul li a{
  padding: 0 10px;
  font-size: 18px;
 /* When a text take the same height of it \is parent it will be centered */
  line-height: 60px;
  color: #000;
  display: block;
  height: 100%;
}

.header-main-nav ul li a:hover{
  color: #193070;
}

.header-main-sm{
  width: fit-content;
  height: 100%;
  padding-right: 40px;
  display: flex;
  align-items: center;
  column-gap: 10px;

}

.header-main-sm-lin{
  width: 20px;
  height: 20px;
  background-image: url('../assets/images/linkedin-dark.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.header-main-sm-lin:hover{
  background-image: url('../assets/images/linkedin.png');
}


.header-main-sm-wh{
  width: 20px;
  height: 20px;
  background-image: url('../assets/images/whatsapp-dark.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.header-main-sm-wh:hover{
  background-image: url('../assets/images/whatsapp.png');
}


