body {
  background-color: #1a1a1a;
}

.box {
  position: fixed;
  left: 50px;
  top:50px;
  width: 100px;
  height: 100px;
  background-color: orange;
}

.container{
  width: 100px;
  height: 200vh;
  background-color: yellow;
}
